body {
  background-color: #eef1f4;
}

@font-face {
  font-family: 'Mon';
  src: url('./fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Rock Salt';
  src: url('./fonts/RockSalt.ttf') format('truetype');
}

.container {
  max-width: 900px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

.padding {
  margin: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}
/* =============== */

.header {
  height: 350px;
  background-image: url('./images/head_img.png');
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -40px;
}

.nav {
  height: 100px;
  font-family: 'Mon';
}

.logo {
  font-family: 'Rock Salt', cursive;
  float: left;
  font-size: 2em;
  margin-top: 9px;
}

.links {
  float: right;
  list-style: none;
  padding-top: 20px;
}

.links > li:hover {
  color: #6b757f;
  cursor: pointer;
}

.links > li {
  display: inline;
  margin: 10px;
  font-family: 'Mon', sans-serif;
}

/* =============== */

#left_col {
  float: left;
  width: 47%;
  margin: auto;
}

#left_col, #visit > h2 {
  font-family: 'Mon';
}

#left_col > p {
  font-family: sans-serif;
  line-height: 150%;
}

/* =============== */

#right_col {
  float: right;
  width: 47%;
  margin: auto;
}

#right_col > h2 {
  font-family: 'Mon', sans-serif;
  text-align: right;
  margin-right: 20px;
}

.prof_pics {
  list-style: none;
}

.prof_pics > li {
  float: left;
  margin: 5px;
}

.pics:hover {
  cursor: pointer;
  box-shadow: 0px 0px 5px 4px rgba(191,191,191,0.95);
}

.pics {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}

/* =============== */

.footer-whole {
  clear:both;
}

.footer {
  height: 100px;
  text-align: center;
  background-color: #d5dde5;
  border-radius: 5px;
}

.footer > h1 {
  font-family: 'Mon';
}

.footer > h1:hover {
  color: white;
  cursor: pointer;
}

.icons {
  margin-top: -10px;
}

.fa {
  margin: 5px;
}
